body {
  padding-left: 11em;
  /* Her defineres fonten */
  font-family: Georgia, "Times New Roman",
          Times, serif;
	/* Her defineres tekst-fargen */
    color: purple;
	/* Her defineres bakgrunnsfargen for hele siden */
    background-color: #B2B2FF }
	 /* x */ 
	 ul.navbar {
	  list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
	/* Her defineres fonten til overskriften (h1) */
	h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
		  /* Her defineres hvor linkene skal plasseres */  
			ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black }
  /* Her defineres at teksten til venstre skal være linker som er farget blå - eller lilla når du har trykket på de */
  ul.navbar a {
    text-decoration: none }
  
  a:link {
    color: blue }
  a:visited {
    color: purple }
	    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }